@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "cursor" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}
*:before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

*:after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  background: #fff;
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  overflow-x: hidden;
}
button,
input,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
img,
video,
canvas,
svg {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
}
/* .slick-dots {
  position: unset !important;
  margin-top: 30px !important;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}*/
.slick-dots li button:before {
  font-size: 10px !important;
}
.slick-prev,
.slick-next {
  width: 40px !important;
  height: 40px !important;
}
.slick-prev {
  left: -70px !important;
}

.slick-next {
  right: -70px !important;
}
@media only screen and (max-width: 1024px) {
  .slick-prev {
    transform: translate(250%, -300%) !important;
  }

  .slick-next {
    transform: translate(-250%, -300%) !important;
  }
}
@media only screen and (max-width: 640px) {
  .slick-prev {
    transform: translate(150%, -300%) !important;
    width: 30px !important;
  }

  .slick-next {
    transform: translate(-150%, -300%) !important;
    width: 30px !important;
  }
}
